@import 'src/styles/variables';

:host {
    align-items: center;
    display: block;
    position: sticky;
    background-color: $color-brightest;
    width: 100%;
    top: 136px;
    z-index: 2;
    -moz-box-shadow: 3px -17px 12px 12px #00000005, 0 3px 4px #00000010, 0 1px 8px #00000010;
    -webkit-box-shadow: 3px -17px 12px 12px #00000005, 0 3px 4px #00000010, 0 1px 8px #00000010;
    box-shadow: 3px -17px 12px 12px #00000005, 0 3px 4px #00000010, 0 1px 8px #00000010;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: $color-brightest;
    color: $color-primary;
}

.mat-mdc-chip-selected:not(.mdc-evolution-chip--disabled) {
    background-color: $color-primary;
    color: $color-brightest;
}

/*
.mat-button-toggle:hover {
    background-color: $color-primary-brightes;
}*/

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border: 0;
}

.mat-button-toggle-checked {
    background-color: $color-primary;
    color: $color-brightest;
}
