<button mat-icon-button aria-label="Add Text" (click)="addText()">
    <mat-icon fontIcon="text_fields"></mat-icon>
</button>
<button mat-icon-button aria-label="Add Circular Text"  (click)="addRectangle()">
    <mat-icon fontIcon="add_circle_outline"></mat-icon>
</button>
<button mat-icon-button aria-label="Add Circle">
    <mat-icon fontIcon="add_circle"></mat-icon>
</button>
<button mat-icon-button aria-label="Add picture">
    <mat-icon fontIcon="add_photo_alternate"></mat-icon>
</button>
<button mat-icon-button aria-label="Add QR Code">
    <mat-icon fontIcon="wallpaper"></mat-icon>
</button>
